<div class="container">
  <div class="row">
    <div class="col-md-6 mt-5 mx-auto">
        <form (submit)="login()" (keyup.enter)="login()">
          <div class="c">
            <h1>Connexion</h1>
            <form class="example-form">
              <mat-form-field class="example-full-width">
                <mat-label for="email">Nom d'utilisateur</mat-label>
                <input matInput name="email" [formControl]="emailFormControl" placeholder="Entrez le nom d'utilisateur"
                  [(ngModel)]="credentials.email" required>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Nom d'utilisateur <strong>requis</strong>
                </mat-error>
                <br>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label for="password">Mot de passe</mat-label>
                <input matInput type="password" name="password" [formControl]="passFormControl" placeholder="Mot de passe"
                  [(ngModel)]="credentials.password" required>
                  <mat-error *ngIf="passFormControl.hasError('required')">
                    Mot de passe <strong>requis</strong>
                  </mat-error>
              </mat-form-field>
            </form>
            <br>
            <button mat-raised-button (keyup.enter)="login()" type="submit" color="primary">Se
              connecter</button>
          </div>
        </form>
      </div>
  </div>
</div>