<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark" *ngIf="auth.isLoggedIn()">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10"
    aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample10">
    <ul class="navbar-nav">
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li> -->
      <li *ngIf="!auth.isLoggedIn()" class="nav-item">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
      <li *ngIf="auth.isLoggedIn()" class="nav-item">
        <a class="navbar-brand texte-white" routerLink="/profile">Bienvenue {{ auth.getUserDetails()?.identity.nom }} {{ auth.getUserDetails()?.identity.prenom }}</a>
      </li>
      <li *ngIf="auth.isLoggedIn()" class="nav-item">
        <a class="nav-link" routerLink="/ajout-frais">Saisie fiche de frais</a>
      </li>
      <li *ngIf="auth.isLoggedIn()" class="nav-item">
        <a class="nav-link" routerLink="/voir-fiche-frais">Voir fiche de frais</a>
      </li>
    </ul>
  </div>
          <form *ngIf="auth.isLoggedIn()" class="nav-item">
            <button class="btn btn-dark" routerLink="" (click)="auth.logout()">Déconnexion</button>
          </form>
</nav>
<div class="container">

  <router-outlet></router-outlet>
</div>