<div class="container">
    <div class="jumbotron mt-5">
      <div class="col-sm-8 mx-auto">
        <h1 class="text-center">Vos informations</h1>
      </div>
      <table class="table col-md-6 mx-auto">
        <tr>
          <td>Nom</td>
          <td>{{ auth.getUserDetails()?.identity.nom }}</td>
        </tr>
        <tr>
        <tr>
          <td>Prénom</td>
          <td>{{ auth.getUserDetails()?.identity.prenom }}</td>
        </tr>
        <tr>
        <tr>
          <td>Date d'embauche</td>
          <td>{{ auth.getUserDetails()?.identity.dateEmbauche | date:'yyyy-MM-dd'}}</td>
        </tr>
        <tr>
        <tr>
          <td>Code postal</td>
          <td>{{ auth.getUserDetails()?.identity.cp }}</td>
        </tr>
        <tr>
          <td>Votre statut</td>
          <span *ngIf="auth.getUserDetails()?.identity.daf == 1">
          <td>Vous êtes le daf</td>
          </span>
          <span *ngIf="auth.getUserDetails()?.identity.daf == 0">
          <td>Vous êtes un visiteur</td>
          </span>
        </tr>
      </table>
    </div>
  </div>